body {
    font-family: 'Francois One', sans-serif;
    background-color: #FAF1DF
    ;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  h1 {
    font-weight: 700;
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    color:#ffffff
  }
  
  a {
    padding: 0 20px;
    margin: 0;
  }
  .jumbotron {
    display: flex;
    align-items: center;
    background-color:#7B7EF3;
    background-size: cover;
    color: #FAF1DF;
    position: relative;
    height: 700px;
  }
  
  .jumbotron h1 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
    position: relative;
    top:50px;
    left: 30px;
    
  }
  
  .jumbotron img {
    margin: 0px;
    height:auto;
    width: 100%;
    position: relative;
    left: 600px;
    bottom: 0px;
    border-radius: 50%;
    
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100%;
  }
  
  .col-sm-6 {
    margin: 0 0 30px;
    text-align: justify;
    text-justify: inter-word;
    
  }
  .col-sm-6 div {
    font-size: 100px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #fbd1d5;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #fbd1d5;
  }
  
  .btn-secondary {
    background-color: #7B7EF3;
    color: #ffffff;
    margin: 0 0 30px;
  }
  
  .portrait {
    width:  350px;
    height: 300px;
  }
  
  figure img {
    width: 100%;
    height: auto;
  }
  
  figure {
    margin-bottom: 30px;
  }
  
  footer {
    font-size: 20px;
    padding: 100px 0;
    color: #7B7EF3;
  }
  
  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
    color: #7B7EF3;
  }
  
  